.section {
  margin-top: 50px;
}

/* task-3 */

.gallery-list {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: aquamarine;
}

.gallery-item {
  display: inline-flex;
}
.gallery-item:hover {
  cursor: pointer;
}

.gallery-item:not(:last-child) {
  margin-right: 10px;
}

.image-gallery {
  display: block;
  width: 250px;
  height: 150px;
}

/* task-6 */
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
